Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string" minOccurs="1" />
      <xs:element name="Street" type="xs:string" minOccurs="1" />
      <xs:element name="City"   type="xs:string" minOccurs="1" />
      <xs:element name="State"  type="xs:string" minOccurs="1" />
      <xs:element name="Zip"    type="xs:string" minOccurs="1" />
    </xs:sequence>
    <xs:attribute name="NearestAirport" type="xs:string" use="optional" />
  </xs:complexType>

  
  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Name"  type="xs:string" minOccurs="1" />
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="Address" type="AddressType" minOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Rating" type="xs:decimal" use="required" />
  </xs:complexType>

  

  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
